Android Open Source Project
baloofileinformationrc
btop
cmus
Code
dconf
discord
dolphinrc
ephoto
filetypesrc
filezilla
flutter
fnott
Google
google-chrome
gtk-3.0
htop
inkscape
JetBrains
kconf_updaterc
kdeglobals
kde.org
kitty
libreoffice
menus
microsoft-edge
mimeapps.list
mpv
neofetch
obs-studio
pavucontrol.ini
pomotroid
procps
pulse
qt5ct

session
torbrowser
trashrc
VirtualBox
vlc
xdg-desktop-portal-kderc
yay
